{% load static %}

<div class="content-flex">
    <div class="imgflex">
       <img class="opacityImg" src="{% static 'southbike/img/southbikeBlack.png' %}" alt="">
    </div>
    <div class="bars-content">
        <span></span>
    </div>
    <div class="registered">
        <i class="bi bi-images"></i>
    </div>
</div>
<div class="container-gallery-center">
    <div class="container-gallery">
        <div class="gallery-box">
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery18.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery19.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery20.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery21.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery22.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery23.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-box">
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery24.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery25.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery26.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery27.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery28.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery29.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<div class="container-gallery-center">
    <div class="container-gallery">
    <nav aria-label="target-one">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" href="{% url 'southbike-gallery' 'page=1' %}">1</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'southbike-gallery-two' 'page=3' %}">3</a></li>
    </ul>
  </nav>
</div>
</div>
