{% load static %}

<footer id="footer" class="footer-box">
    <section class="section-main">
        <div class="div-info-footer">
            <div>
            <a href="#product"><p>Mountain Bike</p></a>    
            <a href="#product"><p>Freeride</p></a>   
            <a href="#product"><p>Infantil</p></a>   
            <a href="#product"><p>Urbano</p></a>    
            </div>
        <div>
        <a href="{% url 'southbike-home' %}"><img src="{% static 'southbike/img/southbikeBlack.png' %}" alt=""></a>      
        </div>
        </div>
        <div class="div-socials-footer">
        <div>
        <a href="https://www.facebook.com/people/South-Bike/100063880620583/" target="_blank"><span><i class="fa-brands fa-facebook"></i></span></a>   
        <a href="https://www.instagram.com/bikesouth/" target="_blank"><span><i class="fa-brands fa-instagram"></i></span></a>   
        </div>
        <div>
            <p>Todos os Direitos Reservados, Equipe South Bike &copy;</p>
        </div>
        </div>
    </section>
</footer>