{% load static %}

<div class="content-flex">
    <div class="imgflex">
       <img class="opacityImg" src="{% static 'southbike/img/southbikeBlack.png' %}" alt="">
    </div>
    <div class="bars-content">
        <span></span>
    </div>
    <div class="registered">
        <i class="bi bi-images"></i>
    </div>
</div>
<div class="container-gallery-center">
    <div class="container-gallery">
        <div class="gallery-box">
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery1.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery2.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery3.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery4.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery5.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery6.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-box">
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery4.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery7.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery8.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery9.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery10.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery11.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-box">
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery12.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery13.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery14.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
            <div>
                <div class="galleryfull">
                    <img src="{% static 'southbike/img/gallery15.jpg' %}" class="img-fluid" alt="...">
                </div>
                <div class="gallerysmool">
                    <div>
                    <div>
                        <img src="{% static 'southbike/img/gallery16.jpg' %}" class="img-thumbnail" alt="...">
                    </div>
                    <div>
                        <img src="{% static 'southbike/img/gallery17.jpg' %}" class="img-thumbnail" alt="...">
                    </div> 
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<div class="container-gallery-center">
    <div class="container-gallery">
    <nav aria-label="target-gallery">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" href="{% url 'southbike-gallery-one' 'page=2' %}">2</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'southbike-gallery-two' 'page=3' %}">3</a></li>
    </ul>
  </nav>
</div>
</div>
