{% load static %}

<div class="content-flex">
    <div class="imgflex">
       <img class="opacityImg" src="{% static 'southbike/img/southbikeBlack.png' %}" alt="">
    </div>
    <div class="bars-content">
        <span></span>
    </div>
    <div class="registered">
        <i class="fas fa-biking"></i>
    </div>
</div>

<div class="filterUrbans">
  <div class="filter">
    <div class="iconFilter">
      <i class="bi bi-funnel-fill"></i>
    </div>
    <div>
      <a href="#barra">Barra Circular - 26</a>
      <a href="#verona">Verona - 26</a> 
      <a href="#curving26">Curving - 26</a> 
      <a href="#curving700">Curving - 700</a> 
      <a href="#urban2174">Urbans - 700 2174</a> 
      <a href="#urban3174">Urbans - 700 3174</a>
    </div>
  </div>
</div>


<section class="container-block">
  <section class="contianer-block-flex">
<div class="models-box">
    <div class="models">
        <div class="models-bicycle-details">
            <div id="barra">
<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalBarra">
    <img src="{% static 'southbike/img/barracircularazul.jpg' %}" class="img-fluid" alt="...">
</button>
  <div class="modal fade" id="exampleModalBarra" tabindex="-1" aria-labelledby="exampleModalBarra" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleBarraLabel">Barra Circular</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="carouselExampleBarra" class="carousel slide cardBlockCarrousel" data-bs-ride="true">
                <div class="carousel-indicators buttonCard">
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="0" class="active  blueBlack" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="1" class="brown" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="2" class="black" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="3" class="pink" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="4" class="purple" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="5" class="green" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleBarra" data-bs-slide-to="6" class="red" aria-label="Slide 7"></button>
                  </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'southbike/img/barracircularazul.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/barracircularmarron.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/barracircularpreta.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/barracircularrosa.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/barracircularroxa.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/barracircularverde.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/barracircularvermelha.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleBarra" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleBarra" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
        </div>
        </div>

<div class="colorPalleta">
            <section class="detailsGear">
                <div class="radiusDown">
                    <a href="#"><i class="bi bi-cloud-arrow-down-fill"></i></a>
                </div>
<div class="radiusGear">        
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalBarraGear">
    <i class="bi bi-gear"></i>
  </button>
</div>
  <div class="modal fade" id="exampleModalBarraGear" tabindex="-1" aria-labelledby="exampleBarraLabelGear" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabelGear">Especificidade <span class="bi bi-gear"></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modayGear">
          <p> <strong>Urbana </strong>- Aro 26 - Freios Torpedo</p> 
          <p><strong>Modalidade:</strong> BICICLETA</p>
          <p><strong>Aro:</strong> 26</p> 
        </div>
      </div>
    </div>
  </div>
</section>
        <section class="flexPalleta">
            <div>
                <i class="bi bi-palette-fill"></i>
            </div>
                <div>
                    <div class="circleColor blueBlack"></div>
                    <div class="circleColor purple"></div>
                    <div class="circleColor black"></div>
                    <div class="circleColor brown"></div>
                    <div class="circleColor pink"></div>
                    <div class="circleColor red"></div>
                </div>
        </section>
        <section>
            <div>
                <p>Cores Disponíveis</p>
            </div>
        </section>
</div>
    </div>
    </div>

<div class="models-box">
    <div class="models">
        <div class="models-bicycle-details">
            <div id="verona">
<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalVeronaBicycle">
    <img src="{% static 'southbike/img/verônaazul.jpg' %}" class="img-fluid" alt="...">
</button>
  <div class="modal fade" id="exampleModalVeronaBicycle" tabindex="-1" aria-labelledby="exampleModalVeronaBicycle" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleVeronaLabel">Verôna</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="carouselExampleVerona" class="carousel slide cardBlockCarrousel" data-bs-ride="true">
                <div class="carousel-indicators buttonCard">
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="0" class="active blueBlack" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="1" class="brown" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="2" class="black" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="3" class="purple" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="4" class="purple" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="5" class="green" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleVerona" data-bs-slide-to="6" class="red" aria-label="Slide 7"></button>
                  </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="{% static 'southbike/img/verônaazul.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                     <img src="{% static 'southbike/img/verônamarron.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/verônablack.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/verônapurple.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/verônapurpleblack.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/Verônagreen.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'southbike/img/verônared.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleVerona" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleVerona" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
        </div>
        </div>


    
    <div class="colorPalleta">
                <section class="detailsGear">
                    <div class="radiusDown">
                        <a href="#"><i class="bi bi-cloud-arrow-down-fill"></i></a>
                    </div>
    <div class="radiusGear">        
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalVerona">
        <i class="bi bi-gear"></i>
      </button>
    </div>
      <div class="modal fade" id="exampleModalVerona" tabindex="-1" aria-labelledby="exampleModalVerona" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleVeronaGear">Especificidade <span class="bi bi-gear"></span></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modayGear">
             <p><strong>Urbana </strong>- Aro 26 - Freios Torpedo</p> 
             <p><strong>Modalidade:</strong> BICICLETA</p>
             <p><strong>Aro:</strong>26</p> 
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="flexPalleta">
                <div>
                    <i class="bi bi-palette-fill"></i>
                </div>
                    <div>
                        <div class="circleColor blueBlack"></div>
                        <div class="circleColor purple"></div>
                        <div class="circleColor black"></div>
                        <div class="circleColor brown"></div>
                        <div class="circleColor green"></div>
                        <div class="circleColor red"></div>
                    </div>
            </section>
            <section>
                <div>
                    <p>Cores Disponíveis</p>
                </div>
            </section>
    </div>
        </div>
        </div>

  </section>
</section>


<section class="container-block">
  <section class="contianer-block-flex">
        <div class="models-box">
            <div class="models">
                <div class="models-bicycle-details">
                    <div id="curving26">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCurving26">
            <img src="{% static 'southbike/img/curvingorange.jpg' %}" class="img-fluid" alt="...">
        </button>
          <div class="modal fade" id="exampleModalCurving26" tabindex="-1" aria-labelledby="exampleCurving26Label" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleCurving26Label">Curving 26</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselCurving26" class="carousel slide cardBlockCarrousel" data-bs-ride="true">
                <div class="carousel-indicators buttonCard">
                            <button  type="button" data-bs-target="#carouselCurving26" data-bs-slide-to="0" class="active orange" aria-current="true" aria-label="Slide 1"></button>
                            <button  type="button" data-bs-target="#carouselCurving26" data-bs-slide-to="1" class="black" aria-label="Slide 2"></button>
                            <button  type="button" data-bs-target="#carouselCurving26" data-bs-slide-to="2" class="blue" aria-label="Slide 3"></button>
                          </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'southbike/img/curvingorange.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'southbike/img/curvingblack.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'southbike/img/curvingblue.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCurving26" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCurving26" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
              </div>
            </div>
          </div>
                </div>
                </div>
        
        <div class="colorPalleta">
                    <section class="detailsGear">
                        <div class="radiusDown">
                            <a href="#"><i class="bi bi-cloud-arrow-down-fill"></i></a>
                        </div>
        <div class="radiusGear">        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCurving26gear">
            <i class="bi bi-gear"></i>
          </button>
        </div>
          <div class="modal fade" id="exampleModalCurving26gear" tabindex="-1" aria-labelledby="exampleModalCurving26gear" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel26gear">Especificidade <span class="bi bi-gear"></span></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modayGear">
                    <p><strong>Código do produto</strong> - 1170</p>
                    <p><strong>Dimensão (Aprox.)</strong> - 100cmx60cmx140cm</p>
                    <p><strong>Quadro</strong> - Curving 26 em Alumínio</p>
                    <p><strong>Tamanhos</strong> - 15</p>
                    <p><strong>Garfo / Suspensão</strong> - Suspensão de 80mm de curso com suporte para freio a disco</p>
                    <p><strong>Rodas</strong> - Aros 26” Aero em alumínio</p>
                    <p><strong>Pneus</strong> - 26 1.95</p>
                    <p><strong>Cubos</strong> - Dianteiro e Traseiro em alumínio</p>
                    <p><strong>Freios</strong> - Freios V-Brake em alumínio</p>
                    <p><strong>Discos dos Freios</strong> - x</p>
                    <p><strong>Câmbio Dianteiro</strong> - Shimano 3V</p>
                    <p><strong>Câmbio Traseir</strong> - Shimano 7V</p>
                    <p><strong>Roda Livre</strong> - 7V Index</p>
                    <p><strong>Pedivela</strong> - Triplo em aço</p>
                    <p><strong>Alavancas/Trocadores</strong> - Rapid Fire 7V</p>
                    <p><strong>Corrente</strong> - Index 7V</p>
                    <p><strong>Selim </strong> - Molise Southbike</p>
                    <p><strong>Canote</strong> - Canote em alumínio</p>
                    <p><strong>Abraçadeira</strong>- Alumínio com blocagem</p>
                    <p><strong>Guidão</strong> - Alumínio</p>
                    <p><strong>Mesa</strong> - Aheadset Alumínio</p>
                    <p>A Southbike se reserva ao direito de alterações nas específicações sem aviso prévio, devido as constantes modificações
                      realizadas nos produtos.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
                <section class="flexPalleta">
                    <div>
                        <i class="bi bi-palette-fill"></i>
                    </div>
                        <div>
                            <div class="circleColor orange"></div>
                            <div class="circleColor blue"></div>
                            <div class="circleColor black"></div>
                        </div>
                </section>
                <section>
                    <div>
                        <p>Cores Disponíveis</p>
                    </div>
                </section>
        </div>
            </div>
            </div>


            <div class="models-box">
              <div class="models">
                  <div class="models-bicycle-details">
                      <div id="curving700">
          <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalCurving700Bicycle">
              <img src="{% static 'southbike/img/curving700black.jpg' %}" class="img-fluid" alt="...">
          </button>
            <div class="modal fade" id="exampleModalCurving700Bicycle" tabindex="-1" aria-labelledby="exampleModalCurving700Bicycle" aria-hidden="true">
              <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleCurving700Label">Curving 700</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div id="carouselExampleCurving700" class="carousel slide cardBlockCarrousel" data-bs-ride="true">
                          <div class="carousel-indicators buttonCard">
                              <button type="button" data-bs-target="#carouselExampleCurving700" data-bs-slide-to="0" class="active black" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleCurving700" data-bs-slide-to="1" class="blue" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleCurving700" data-bs-slide-to="2" class="orange" aria-label="Slide 3"></button>
                              <button type="button" data-bs-target="#carouselExampleCurving700" data-bs-slide-to="3" class="white" aria-label="Slide 4"></button>
                            </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                               <img src="{% static 'southbike/img/curving700black.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                               <img src="{% static 'southbike/img/curving700blue.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'southbike/img/curving700orange.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'southbike/img/curving700white.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCurving700" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCurving700" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
                  </div>
                  </div>
          
          
              
              <div class="colorPalleta">
                          <section class="detailsGear">
                              <div class="radiusDown">
                                  <a href="#"><i class="bi bi-cloud-arrow-down-fill"></i></a>
                              </div>
              <div class="radiusGear">        
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCurving700">
                  <i class="bi bi-gear"></i>
                </button>
              </div>
                <div class="modal fade" id="exampleModalCurving700" tabindex="-1" aria-labelledby="exampleModalCurving700" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalCurving700Gear">Especificidade <span class="bi bi-gear"></span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" id="modayGear">
                       <p><strong>Urbana</strong> - Aro 700 - 3x7 Marchas - Cambios Shimano - Freios a Disco - Aluminio</p> 
                       <p><strong>Modalidade:</strong> BICICLETA</p>
                       <p><strong>Aro:</strong> 700</p>
                       <p><strong>Tamanhos:</strong> 17 (Podem variar conforme as CORES)</p> 
                       <p><strong>Marchas: 21</strong></p>  
                      </div>
                    </div>
                  </div>
                </div>
              </section>
                      <section class="flexPalleta">
                          <div>
                              <i class="bi bi-palette-fill"></i>
                          </div>
                              <div>
                                  <div class="circleColor orange"></div>
                                  <div class="circleColor blue"></div>
                                  <div class="circleColor black"></div>
                                  <div class="circleColor white"></div>
                              </div>
                      </section>
                      <section>
                          <div>
                              <p>Cores Disponíveis</p>
                          </div>
                      </section>
              </div>
                  </div>
                  </div>

                  </section>
                  </section>

                  <section class="container-block">
                    <section class="contianer-block-flex">
                
                  <div class="models-box">
                    <div class="models">
                        <div class="models-bicycle-details">
                            <div id="urban2174">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalUrbans2174Bicycle">
                    <img src="{% static 'southbike/img/Urban2174.jpg' %}" class="img-fluid" alt="...">
                </button>
                  <div class="modal fade" id="exampleModalUrbans2174Bicycle" tabindex="-1" aria-labelledby="exampleModalUrbans2174Bicycle" aria-hidden="true">
                    <div class="modal-dialog  modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleUrbans2174Label">Urbans 700</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleUrbans2174" class="carousel slide cardBlockCarrousel" data-bs-ride="true">
                                <div class="carousel-indicators buttonCard">
                                    <button type="button" data-bs-target="#carouselExampleUrbans2174" data-bs-slide-to="0" class="active black" aria-current="true" aria-label="Slide 1"></button>
                                  </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                     <img src="{% static 'southbike/img/Urban2174.jpg' %}" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleUrbans2174" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleUrbans2174" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                        </div>
                        </div>
                
                
                    
                    <div class="colorPalleta">
                                <section class="detailsGear">
                                    <div class="radiusDown">
                                        <a href="#"><i class="bi bi-cloud-arrow-down-fill"></i></a>
                                    </div>
                    <div class="radiusGear">        
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalUrbans2174">
                        <i class="bi bi-gear"></i>
                      </button>
                    </div>
                      <div class="modal fade" id="exampleModalUrbans2174" tabindex="-1" aria-labelledby="exampleModalUrbans2174" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalUrbans2174Gear">Especificidade <span class="bi bi-gear"></span></h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="modayGear">
                              <p> <strong>Código do produto</strong> - 2174</p> 
                              <p><strong>Dimensão (Aprox.)</strong> - 110cmx80cmx160cm</p>  
                              <p><strong>Quadro</strong> - Urban aro 700 em alumínio</p>  
                              <p><strong>Garfo / Suspensão</strong> - Garfo rígido</p> 
                              <p><strong>Tamanhos</strong> - 17, 19, 21</p> 
                              <p><strong>Rodas</strong> - Aros 700 em alumínio com parede dupla</p>  
                              <p><strong>Pneus</strong> - 700 City</p> 
                              <p><strong>Cubos</strong> - Dianteiro e Traseiro com blocagem</p> 
                              <p><strong>Freios</strong>  - Freios a disco mecânicos</p>  
                              <p><strong>Discos dos Freios</strong> - 160mm</p> 
                              <p><strong>Câmbio Dianteiro </strong> - Shimano 3V</p>  
                              <p><strong>Câmbio Traseiro</strong> - Shimano 7V</p>  
                              <p><strong>Roda Livre</strong> - Shimano 7V</p>  
                              <p><strong>Pedivela</strong> - Shimano triplo em alumínio</p>  
                              <p><strong>Alavancas/Trocadores</strong> - Rapid Fire Shimano 7V</p>  
                              <p><strong>Corrente</strong> - 7V</p>  
                              <p><strong>Selim</strong> - MTB</p>  
                              <p><strong>Canote</strong> - Alumínio com blocagem rápida</p>  
                              <p><strong>Abraçadeira</strong> - Alumínio com blocagem</p> 
                              <p><strong>Guidão</strong> - MTB em alumínio</p>  
                              <p><strong>Mesa</strong> - Alumínio</p>  
                              <p>A Southbike se reserva ao direito de alterações nas específicações sem aviso prévio, devido as constantes modificações
                              realizadas nos produtos.</p>  
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                            <section class="flexPalleta">
                                <div>
                                    <i class="bi bi-palette-fill"></i>
                                </div>
                                    <div>
                                        <div class="circleColor black"></div>
                                    </div>
                            </section>
                            <section>
                                <div>
                                    <p>Cores Disponíveis</p>
                                </div>
                            </section>
                    </div>
                        </div>
                      </div>      



                      <div class="models-box">
                        <div class="models">
                            <div class="models-bicycle-details">
                                <div id="urban3174">
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalUrbans3174Bicycle">
                        <img src="{% static 'southbike/img/Urban3174.jpg' %}" class="img-fluid" alt="...">
                    </button>
                      <div class="modal fade" id="exampleModalUrbans3174Bicycle" tabindex="-1" aria-labelledby="exampleModalUrbans3174Bicycle" aria-hidden="true">
                        <div class="modal-dialog  modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleUrbans3174Label">Urbans 700</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="carouselExampleUrbans3174" class="carousel slide cardBlockCarrousel" data-bs-ride="true">
                                    <div class="carousel-indicators buttonCard">
                                        <button type="button" data-bs-target="#carouselExampleUrbans3174" data-bs-slide-to="0" class="active black" aria-current="true" aria-label="Slide 1"></button>
                                      </div>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                         <img src="{% static 'southbike/img/Urban3174.jpg' %}" class="d-block w-100" alt="...">
                                      </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleUrbans3174" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleUrbans3174" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                            </div>
                            </div>
                    
                    
                        
                        <div class="colorPalleta">
                                    <section class="detailsGear">
                                        <div class="radiusDown">
                                            <a href="#"><i class="bi bi-cloud-arrow-down-fill"></i></a>
                                        </div>
                        <div class="radiusGear">        
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalUrbans3174">
                            <i class="bi bi-gear"></i>
                        </button>
                        </div>
                          <div class="modal fade" id="exampleModalUrbans3174" tabindex="-1" aria-labelledby="exampleModalUrbans3174" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalUrbans3174Gear">Especificidade <span class="bi bi-gear"></span></h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="modayGear">
                                      <p> <strong>Código do produto</strong> - 3174</p> 
                                      <p><strong>Dimensão (Aprox.)</strong> - 110cmx80cmx160cm</p>  
                                      <p><strong>Quadro</strong> - Urban aro 700 em alumínio</p>  
                                      <p><strong>Garfo / Suspensão</strong> - Garfo com Suspensão 100mm de curso </p> 
                                      <p><strong>Tamanhos</strong> - 17, 19, 21</p> 
                                      <p><strong>Rodas</strong> - Aros 700 em alumínio com parede dupla</p>  
                                      <p><strong>Pneus</strong> - 700 City</p> 
                                      <p><strong>Cubos</strong> - Dianteiro e Traseiro com blocagem</p> 
                                      <p><strong>Freios</strong>  - Freios a disco mecânicos</p>  
                                      <p><strong>Discos dos Freios</strong> - 160mm</p> 
                                      <p><strong>Câmbio Dianteiro </strong> - Shimano 3V</p>  
                                      <p><strong>Câmbio Traseiro</strong> - Shimano 7V</p>  
                                      <p><strong>Roda Livre</strong> - Shimano 7V</p>  
                                      <p><strong>Pedivela</strong> - Shimano triplo em alumínio</p>  
                                      <p><strong>Alavancas/Trocadores</strong> - Rapid Fire Shimano 7V</p>  
                                      <p><strong>Corrente</strong> - 7V</p>  
                                      <p><strong>Selim</strong> - MTB</p>  
                                      <p><strong>Canote</strong> - Alumínio com blocagem rápida</p>  
                                      <p><strong>Abraçadeira</strong> - Alumínio com blocagem</p> 
                                      <p><strong>Guidão</strong> - MTB em alumínio</p>  
                                      <p><strong>Mesa</strong> - Alumínio</p>  
                                    <p>A Southbike se reserva ao direito de alterações nas específicações sem aviso prévio, devido as constantes modificações
                                    realizadas nos produtos.</p>  
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                                <section class="flexPalleta">
                                    <div>
                                        <i class="bi bi-palette-fill"></i>
                                    </div>
                                        <div>
                                            <div class="circleColor black"></div>
                                        </div>
                                </section>
                                <section>
                                    <div>
                                        <p>Cores Disponíveis</p>
                                    </div>
                                </section>
                        </div>
                            </div>
                          </div>      
                          
                          </section>
                          </section>
    




























